<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/capa.css">
</head>
<body>
   <mark><h1>ACADEMIA</h1></mark>
     <mark><h1>BBB</h1></mark>
    <mark><p>
        <a href="/usuario/add">Adicionar Aluno</a> |
        <a href="/usuario/">Listar Aluno</a> |
        <a href="/projeto/add">Adicionar Evento</a> |
        <a href="/projeto/">Listar Evento</a>|
        <a href="/integrante/add">Adicionar Integrante</a> |
        <a href="/integrante/">Listar Integrante</a>
    </p></mark>
</body>
</html>