<%-include('../cabecalho.ejs');%>
   <form method="post" enctype="multipart/form-data">
       Nome: <input type="text" name="nome" 
        placeholder="Digite o nome do responsavel do evento" required ><br>
       Email <input type="email" name="email" 
        placeholder="Digite seu email"  ><br>
       Endereço <input type="text" name="endereco" placeholder="Digite seu endereco"><br>
       Projeto: 
       <select name="projeto">
            <option value="">Escolha o projeto do integrante</option>
            <% Projetos.forEach(function(projeto){%>
                <option value="<%=projeto._id%>"><%=projeto.nome%></option>
            <%}) %>
       </select>
       <br>

       Foto: <input type="file" name="foto" required ><br>
       <input type="submit" value="Enviar">
   </form> 
<%-include('../rodape.ejs');%>